<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="NexaCL" Manufacturer="Nexa" Version="$(var.NumericVersion)" UpgradeCode="4586C6CD-E11C-435C-89B4-1DAA8F023651" Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="A newer version of Nexa is already installed." AllowSameVersionUpgrades="yes" />
    <MediaTemplate EmbedCab="yes" />
    <Icon Id="LauncherIcon" SourceFile="$(var.IconPath)" />
    <Property Id="ARPPRODUCTICON" Value="LauncherIcon" />
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="NexaCL" />
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder" />
    <StandardDirectory Id="DesktopFolder" />
    <ComponentGroup Id="Payload" Directory="INSTALLFOLDER"><Files Include="$(var.Payload)\**" /></ComponentGroup>
    <Component Id="MenuShortcut" Directory="INSTALLFOLDER" Guid="*">
      <Shortcut Id="StartMenu" Directory="ProgramMenuFolder" Name="NexaCL" Target="[INSTALLFOLDER]Nexa.Desktop.exe" WorkingDirectory="INSTALLFOLDER" Icon="LauncherIcon" />
      <RegistryValue Root="HKLM" Key="Software\Nexa" Name="StartMenu" Type="integer" Value="1" KeyPath="yes" />
    </Component>
    <Component Id="DesktopShortcutComponent" Directory="INSTALLFOLDER" Guid="*">
      <Shortcut Id="DesktopShortcutLink" Directory="DesktopFolder" Name="NexaCL" Target="[INSTALLFOLDER]Nexa.Desktop.exe" WorkingDirectory="INSTALLFOLDER" Icon="LauncherIcon" />
      <RegistryValue Root="HKLM" Key="Software\Nexa" Name="DesktopShortcut" Type="integer" Value="1" KeyPath="yes" />
    </Component>
    <Feature Id="Launcher" Title="NexaCL" Level="1"><ComponentGroupRef Id="Payload" /><ComponentRef Id="MenuShortcut" /></Feature>
    <Feature Id="DesktopShortcut" Title="Desktop shortcut" Level="1"><ComponentRef Id="DesktopShortcutComponent" /></Feature>
  </Package>
</Wix>
